.education {
  display: flex;
  align-items: start;
  margin: 0.6rem 0;
}

.education .titles {
  flex: 1 0 auto;
}

.education .extra {
  width: auto;
  text-align: end;
  font-size: 0.8em;
  font-style: italic;
}
